body {
    background-color: #282728;
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 1200px;
    margin: auto;
    
}

main {
    margin: 100px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
}
@media (max-width:1200px) {
    main {
         display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 800px) {
    main {
         display: grid;
        grid-template-columns: 100%;
    }
}

.sectionContainer {
   height: 300px;
   width: 300px;
   border-radius: 27px;
   background-color: black;
   margin: 20px 20px 20px 20px; 
   
}
#calendarContainer {
    margin: 25px 25px 0 25px;
}

#currentDay {
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-weight: 60;
    letter-spacing: 3px;
    opacity: 80%;

}

#monthDay {
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-weight: 60;
    opacity: 80%;  
}

#lock_container {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 25px 25px 0 25px;
}

#lock {
    opacity: 70%;
}

#lights_container {
    display: flex;
    justify-content: center;
    width: 225x;
    height: 225px;
    margin: 15px 50px 20px 50px;
}

#lights_buttons_container {
    display: flex;
    justify-content: space-around;
}

#light_img {
    opacity: 70%;
}

.light_buttons {
    background-color: black;
    width: 50px; 
    height: 25px;
    border-radius: 3px;
    opacity: 70%;
}

#light_button_up {
    background-image: url(../img/up_button.png);;
}

#lights_status {
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 10;
    letter-spacing: 1px;
    opacity: 70%;
}

#heater_container {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    margin: 25px 60px 10px 60px;
}

.selection_containers {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.selectors {
    width: 225px;
    height: 25px;
    color: white;
    background-color: black;
    opacity: 70%;
    text-align: center;
}

#heater_image {
    opacity: 70%;
}

#music_container {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    margin: 25px 60px 10px 60px;
}

#music_image {
    opacity: 70%;
}

#cleaning_container {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    margin: 25px 60px 10px 60px;
}

#cleaning_image {
    opacity: 70%;
}

#pet_container {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    margin: 25px 60px 10px 60px;
}

#pet_image {
    opacity: 70%;
}


#cat_status {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: 60;
    letter-spacing: 3px;
    opacity: 80%;
}

#blow_container {
    display: flex;
    justify-content: center;
    width: 225px;
    height: 225px;
    margin: 38px 38px 0 37px;
}

#blow_button {
    color: white;
    background-color: grey;
}
